.text-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* Make content area fill the entire browser window */
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}


table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

th, td {
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
td { text-align: right;}
td:nth-child(1)	{text-align: left;}
td:nth-last-child(2) {text-align:left;}
td:last-child 	{text-align:left;}

td span {
    padding: 0;
    text-align: right;
    width: 100px;
}
span {
    display: inline-block;
    text-align: right;
}

#total {
#  text-align:right;
#}
