a:link, a:visited,.btn {
  background-color: #4CAF50;
  color: white;
  padding: 1px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:300px;
  height:50px;
}

th {
  cursor: pointer;
}

.text-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
a:hover, a:active {
  background-color: green;
}
body {
  font-family: sans-serif;
}
/* Make content area fill the entire browser window */
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}


table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

.title {
  font-size: 2rem;
}
h1 {
  font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
  font-size: 1.875em; /* 30px/16=1.875em */
}
table {
  border-collapse: collapse;
  width: 100%;
#  font-size: 2.5em;
}
th, td {
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
td { text-align: right;}
td:first-child	{text-align: left;}
td:nth-last-child(2) {text-alignt:left;}
td:nth-last-child(1) {text-align:left;}
td:last-child 	{text-align:left;}

td span {
    padding: 0;
    text-align: left;
    width: 100px;
}
span {
    display: inline-block;
    text-align: left;
}

#total {
#  text-align:right;
#}



#sort column
#test th
{
  user-select: none;
  cursor: pointer;
}
#test th:after
{
  visibility: hidden;
}
#test[data-order="0"] th:after
{
  content: "▲";
}
#test[data-order="1"] th:after
{
  content: "▼";
}

#test[data-sort="0"] th:nth-child(1):after,
#test[data-sort="1"] th:nth-child(2):after,
#test[data-sort="2"] th:nth-child(3):after,
#test[data-sort="3"] th:nth-child(4):after,
#test[data-sort="4"] th:nth-child(5):after,
#test[data-sort="5"] th:nth-child(6):after,
#test[data-sort="6"] th:nth-child(7):after,
#test[data-sort="7"] th:nth-child(8):after,
#test[data-sort="8"] th:nth-child(9):after,
#test[data-sort="9"] th:nth-child(10):after,
#test[data-sort="10"] th:nth-child(11):after
{
  visibility: visible;
}

